<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Keep</title>
    <link rel="stylesheet" href="keep-app.component.scss">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <div class="Dashboard">
        <div class="LeftHandSideComponent">
            <img class="BrowseLogo" src="../../../assets/Icons/menu_FILL0_wght400_GRAD0_opsz24.svg" alt="">
            <img class="GoogleKeepLogo" src="../../../assets/GoogleKeepLogo.png">
        </div>
        <div class="MiddleComponent">
            <div class="SearchBarDiv">
                <img src="../../../assets/Icons/icons8-search-50.png" class="SearchIcon">
                <input type="text" placeholder="Search" class="SearchBar">
            </div>
        </div>
        <div class="RightHandSideComponent">
            <img src="../../../assets/Icons/ReloadImage.png" class="ReloadImageIcon">
            <img src="../../../assets/Icons/DoubleListIcon.png" class="DoubleListIcon">
            <img src="../../../assets/Icons/icons8-settings-32.png" class="SettingsIcon">
            <img src="../../../assets/Icons/AllAppsSymbol.png" class="AllAppsIcon">
        </div>
    </div>
</body>
</html>
