<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Review Sign In</title>
    <link rel="stylesheet" href="/Review/html/css/review-signin.css">
</head>
<body>
    <div class="Layout">
        <div class="Layout1">
            <div class="BackButton">
                <button class="backbutton">
                    <
                 </button>
            </div>
            <div class="WelcomeDiv">
                <p class="WelcomeDivText">Welcome Back</p>
            </div>
            <div>
                <p class="SignInText">Sign in to your account</p>
            </div>
            <div class="Layout2">
                <div class="SinInDiv">
                    <p class ="SignIn">Sign In</p>
                </div>
                <div class="YourEmailText">
                <p class="EmailText">Your Email</p>
                </div>
                <div class="EmailInputDiv">
                    <input type="text" name="" id="" placeholder="Email or Phone" class="EmailInput">
                </div>
                <div class="PasswordTextDiv">
                    <p class="passwordtext">Password</p>
                </div>
                <div class="PasswordInputDiv">
                    <input type="password" placeholder="Password" class="passwordinput">
                </div>
                <div class="RememberMeElements">
                    <div class="CheckboxDiv">
                        <input type="checkbox" name="" id="" class="remembermebox">
                    </div>
                    <div class="RememberMeTextDiv">
                        <p class="RememberMeText">Remember Me</p>
                    </div>
                    <div class="ForgetPasswordDiv">
                        <a href="#" class="ForgetPasswordURL">Forget your password</a>
                    </div>
                </div>
                <div>
                    <button class="SubmitButton">
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
